.griv {
    position: relative;
  }
   .griv > a:hover + .feedback-cont {
    width: 185px;
  padding: 10px;
    opacity: 1;
    text-align: center; 
    pointer-events: all;
  }
   .griv > .feedback-cont {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #a90303;
    opacity: 0;
    pointer-events: none;
  }
  .griv > .feedback-cont:hover{
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #a90303;
    width: 185px;
  padding: 10px;
    opacity: 1;
    text-align: center; 
    pointer-events: all;
  }
   .griv > .feedback-cont > .Feedback > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
  }