@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@200;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
}

.main > .mail {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dee0e1;
}

.main > .mail > .icn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* margin: 5px; */
}
.main > .head {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #fff;
  padding: 10px;
}
.main > .head > .image {
  width: 100px;
  height: 100px;
}
.main > .head > .image > img {
  width: 100%;
  height: 100%;
}
.main > .head > div:nth-child(2) {
  flex: 1;
  /* background-color: #dc3545; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 10px;
}
.main > .head > .name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}
.main > .head > .name > div {
  background-color: brown;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}
.main > nav {
  width: 100%;
  background-color: #dee0e1;
}
.main > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.main > nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  font-size: 18px;

  color: black;
  text-decoration: none;
  border-right: 1px solid black;
}
.main > nav > ul > li:last-child > a {
  border-right: none !important;
}
.main > nav > ul > li > a:hover {
  background-color: brown;
  color: #fff;
}
.main > .photo {
  width: 100%;
  height: 500px;
}
.main > .photo > img {
  width: 100%;
  height: 100%;
}
.main > .job-Alert > .date-session {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  font-size: 20px;
  font-weight: bold;
  color: rgb(8, 118, 214);
  /* padding:20px; */
  margin-top: 20px;
}
.main > .job-Alert > .help {
  /* background-color: rgb(153, 177, 17); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  color: rgba(255, 0, 0, 0.605);
  font-weight: bold;
  margin-right: 10px;
  animation: myanimate 2s linear infinite;
}

@keyframes myanimate {
  50% {
    opacity: 0;
  }
}

.main > .job-Alert > .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}
.main > .job-Alert > .heading > .first {
  margin: 5px;
  width: 200px;
  border: 1px solid rgb(250, 84, 84);
}
.main > .job-Alert > .heading > .second {
  width: 150px;
  border: 1px solid rgb(255, 68, 68);
}
.main > .job-Alert > .boxes {
  width: 100%;
  height: 200px;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}
.main > .job-Alert > .boxes > div > img {
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}
.main > .job-Alert > .boxes > div {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 130px;
  box-shadow: 0 0 10px 5px #bab9b9;
  position: relative;
  overflow: hidden;
  animation: myboxes 0.5s ease 1;
}
@keyframes myboxes {
  0% {
    margin-bottom: 800px;
  }

  40% {
    margin-bottom: 50px;
  }

  50% {
    margin-bottom: 100px;
  }
}

.main > .job-Alert > .boxes > div > p {
  font-weight: bold;
}
.job-Alert {
  position: relative;
  /* background-color: aqua; */
}
.main > .job-Alert > .fold-div > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 250px;
  height: 130px;
  background-color: rgb(6, 136, 187);
  position: absolute;
  bottom: 38px;
  left: 240px;
}

.main > .job-Alert > .boxes > div > .slide-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #007bff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.main > .job-Alert > .boxes > div:hover .slide-box {
  height: 100%;
  /* background-color: chartreuse; */
  opacity: 1;
}
.main > .job-Alert > .boxes > div > .slide-box > button {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  margin-bottom: 400px;
  transition: 0.4s ease-in-out;
}
.main > .job-Alert > .boxes > div:hover button {
  margin-bottom: 0px;
}

.main > .terms > div > .box-int {
  width: 350px;
  height: 230px;
  /* border:1px solid black; */
  box-shadow: 0 0 6px 1px;
  margin-top: 10px;
  overflow: hidden;
  /* margin: 10px; */
  padding: 10px;
}

.main > .terms > div > .box-int > .mini-box {
  height: 100%;
  overflow: hidden;
}
.main > .terms > div > .box-int > .mini-box > a {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
  margin: 10px;
  text-decoration: none;
  color: rgb(9, 67, 241);
}
.main > .terms > div > .box-int > .mini-box > a > i {
  color: rgb(245, 86, 86);
  display: flex;
  align-items: start;
  justify-content: start;
}
.main > .terms {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  /* gap:10px; */
}
.main > .terms > div > .head > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  width: 100px;
  /* height:1px; */
  border: 1px solid rgb(245, 86, 86);
  background-color: rgb(245, 86, 86);
  /* margin-bottom: 10px; */
}
.main > .terms > div > .head > .mr {
  width: 150px;
}
.main > .map {
  width: 100%;
  border: 1px solid black;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.main > .map > .contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.main > .map > .link {
  width: 400px;
  height: 100%;
  margin-left: 40px;
}
.main > .map > .link > ul > li > a {
  text-decoration: none;
  color: black;
}
.main > .map > .link > ul > li > a:hover {
  color: #a90303;
}
.main > .map > .link > ul > li > i {
  color: #a90303;
}

.main > .map > .link > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}
.main > .map > .link > ul > li {
  width: 50%;
  margin: 5px 0px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(167, 163, 163);
}

@media only screen and (max-width: 400px) {
  body {
    background-color: #a90303;
  }
  .main > .terms {
    flex-direction: column !important;
    gap: 20px;
  }

  .main > .head > .name > div {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}

.griv {
  position: relative;
}
 .griv > a:hover + .feedback-cont {
  width: 185px;
padding: 10px;
  opacity: 1;
  text-align: center; 
  pointer-events: all;
}
 .griv > .feedback-cont {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #a90303;
  opacity: 0;
  pointer-events: none;
}
.griv > .feedback-cont:hover{
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #a90303;
  width: 185px;
padding: 10px;
  opacity: 1;
  text-align: center; 
  pointer-events: all;
}
 .griv > .feedback-cont > .Feedback > a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px;
}
